.MessageForm {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 2%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;  
}

input {
    margin: 2em 0;
}

button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;  
}